<div class="row", style="margin: 120px 0px">
  <div class="col-lg-6 offset-lg-3">

<section class="devise-form">
  <div class="form-title">
    <h2>新規登録</h2>
  </div>
  <span>入力してください</span>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "off", class:"form-control"  %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br>
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "登録", class:"btn btn-warning" ,style:"border:1px solid black;" %>
  </div>
<% end %>

</section>

  </div>
</div>



