<div class="row", style="margin: 120px 0px">
  <div class="col-lg-6 offset-lg-3">

<section class="devise-form">
  <div class="form-title">
    <h2>ログイン</h2>
  </div>
  <span>入力してください</span>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password",  class:"form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class:"btn btn-warning" ,style:"border:1px solid black;" %>
  </div>
<% end %>

</section>

  </div>
</div>
