<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<% if flash[:notice] %>
			 	<div class="flash"><%= flash[:notice]%></div>
			<% end %>
			<% if flash[:comment] %>
			 	<div class="alert-flash"><%= flash[:comment]%></div>
			<% end %>
			<% if @post_comment.errors.any? %>
				<div class="alert">
				 <h2><%= @post_comment.errors.count %>errors</h2>
				 <ul>
				  <% @post_comment.errors.full_messages.each do |message| %>
				   <li> <%= message %> </li>
				   <% end %>
				  </ul>
				</div>
			<% end %>
			<section class="post-contents">
				<div class="post-content flex">

					<div class="post-image">
						<%= attachment_image_tag @post, :post_image,
							format:"jpg", class:"image" %>
					</div>
					<div class="post-main flex">
						<div class="post-profile">
							<%= link_to user_path(@user) do %>
							<%= attachment_image_tag @user, :profile_image, format:"jpg", size:"100x100",fallback:"no_image.jpg",
								style:"border-radius:50%;" %>
							<% end %><br>
							<% if @user == current_user %>
								<%= link_to edit_post_path(@post) do %>
								<i class="far fa-edit",
									style="padding-right: 5px; margin-top:10px">編集</i><% end %>
								<%= link_to post_path(@post), method: :delete do %>
									<i class="far fa-trash-alt", style="padding-left: 5px">削除</i>
								<% end %>
							<% end %>
						</div>
						<div class="post-text">
							<i class="fas fa-paw fa-2x"><%= @post.title %></i><br>
							<div class="post-body">
								<%= @post.body%>
							</div><br>
							<div style="float: right; margin-top: 10px">
								<i class="far fa-comment"><%= @post.post_comments.count %>件</i>

								<% if @post.favorited_by?(current_user) %>
									<%= link_to post_favorites_path(@post), method: :delete do %>
									<i class="fas fa-thumbs-up", style="color:orange;"></i><% end %>
										<%= @post.favorites.count %>
								<% else %>
									<%= link_to post_favorites_path(@post), method: :post do %>
									<i class="fas fa-thumbs-up", style="color:silver;"></i><% end %>
										<%= @post.favorites.count %>
								<% end %><br>

								<%= @user.name %>  |
								<%= @post.created_at.strftime('%Y/%m/%d') %>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="comment-form">
				<h3 style="margin-bottom: 20px"><span>Comments</span></h3>
				<% @post_comments.each do |post_comment| %>
					<div class="comment">
					<div class="comment-image">
						<%= link_to user_path(post_comment.user) do %>
							<%= attachment_image_tag post_comment.user, :profile_image,
								size:"100x100", format:"jpg", fallback:"no_image.jpg",
								style:"border-radius:50%;" %>
						<% end %>
					</div>
					<div class="comment-text">
						<i class="far fa-user"><%= post_comment.user.name %></i><br>
						<%= post_comment.comment %><br>
						<div style="float: right;">
							<%= post_comment.created_at.strftime('%Y/%m/%d') %>|
						<% if current_user == post_comment.user %>
							<%= link_to post_post_comment_path(post_comment), method: :delete do %>
							削除<% end %>
						<% end %>
						</div>
					</div>
					</div>
				<% end %>
			</section>

			<section class="input-form">
				<h3 style="margin-bottom: 20px"><span>New Comment</span></h3>
				<%= form_for [@post, @post_comment] do |f| %>
					<div class="field">
						<%= f.label :comment %><br>
						<%= f.text_area :comment, class:"form-control", rows:"3",
							placeholder:"comment / etc..." %>
					</div>
					<div class="field">
						<%= f.submit "送信", class:"btn btn-warning" %>
					</div>
				<% end %>
			</section>

		</div>
	</div>
</div>